<%= form_for(student, url: apply_online_path, html: {method: 'post'}) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> detected! Please review and correct the errors:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :'fname', "First Name" %>
    <%= f.text_field :fname %>
  </div>

  <div class="field">
    <%= f.label :'lname', "Last Name" %>
    <%= f.text_field :lname %>
  </div>

  <div class="field">
    <%= f.label :'leveltype', "Degree Level"  %>
    <%= f.collection_select(:level_id, Level.all, :id, :leveltype, prompt: "Select A Degree Type", :class => 'net-select') %>
   </div>

  <div class="field">
    <%= f.label :'coursename', "Courses" %>
    <%= f.collection_select(:course_id, Course.all, :id, :coursename, prompt: "Select Course", :class => 'net-select') %>
  </div>

  <div class="field">
    <%= f.label :'nationality', "Nationality" %>
    <%= f.country_select :nationality, prompt: "Country of Origin", :class => 'net-select' %>
  </div>

  <div class="field">
    <%= f.label :'countryloc', "Country of Choice" %>
    <%= f.country_select :countryloc, prompt: "Where Would You Like to Study?", :class => 'net-select' %>
  </div>

  <div class="field">
    <%= f.label :'email', "Email Address" %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :'phone', "Phone Number" %>
    <%= f.text_field :phone %>
  </div>

  

  <div class="actions">
    <%= f.submit @student.new_record? ? "Apply Now" : "Update Student Details" %> 
  </div>
<% end %>
